extends layout

block content
  h1 #{title}
  p #{bookinstance.book.title}

  p #[strong Status: ]
    if bookinstance.status=='Available'
      span.text-success #{bookinstance.status}
    else if bookinstance.status=='Maintenance'
      span.text-danger #{bookinstance.status}
    else
      span.text-warning #{bookinstance.status}

  p Do you really want to delete this Bookinstance?

  form(method='POST')
      div.form-group
        input#bookinstanceid.form-control(type='hidden', name='bookinstanceid', value=bookinstance._id )

      button.btn.btn-primary(type='submit') Delete
